{% extends 'base_templates/base3.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
<form method="POST" class="post-form" action="#">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Details</h3>  
    </div>  
  </div>  
    <!-- <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Id:</label>  
    <div class="col-sm-4">  
      {{ form.pid }}  
    </div>  
  </div>   -->
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Name:</label>  
    <div class="col-sm-4">  
      {{ form.pname }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <a href="show"><button type="submit" class="btn btn-primary">Submit</button> </a> 
    </div>  
  </div>  
    </div>  
</form>  
</body>  
{% endblock content %}