{% extends 'base_templates/base2.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <a href="{% url 'upload' %}"><button type="submit">Upload</button> </a>
          <a href="{% url 'change_password' %}"><button type="submit">Change_Password</button> </a>
          <!-- <img src="{{ profile.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />  -->
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}


