{% extends 'base_templates/base3.html' %}
{% load crispy_forms_tags %}
{% block content %}
<center><body>  
		<h1>Category Table</h1>
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>   
        <th>ID</th>
        <th>Name</th>   
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for products in products %}  
    <tr>   
        <td>{{ products.id }}</td>
        <td>{{ products.pname }}</td>  
        <td>  
            <a href="/edit/{{ products.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ products.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/prodadd" class="btn btn-primary">Add New Record</a></center>  
</body> </center>
{% endblock content %}